@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.go-back-div {
    display: flex;
    align-self: start;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 20px;
    color: blueviolet;
    cursor: pointer;
    margin-top: 25px;
    text-decoration: none;
}

#back-img {
    width: 20px;
    height: 20px;
}

.go-back-div:hover {
    text-decoration: underline;
}


#product-details-h1 {
    align-self: center;
    font-size: 30px;
    font-weight: 600;
}

.product-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#product-details-img {
    width: 50%;
    height: 50%;
    padding: 10px 90px;
}

.product-details-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    padding: 10px 20px;
}

#product-id {
    font-size: 15px;
    font-weight: 700;
    color: #042771;
    margin-bottom: 5px;
}

#product-name {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
    margin-bottom: 20px;
}

#product-short-description {
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    height: 100px;
    margin-bottom: 10px;
}

.product-details-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#product-actual-bid {
    font-size: 15px;
    font-weight: 700;
    color: #042771;
}

.bid-slider-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border: 2px solid #6c6c6c;
    border-radius: 5px;
}

.bid-displayer {
    width : 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bid-slider {
    width: 20px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.up, .down {
    width: 24px;
    height: 20px;
    border: 2px solid #6c6c6c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #c6c6c6;
}

.up:hover, .down:hover {
    background: #a2a2a2;
}

.up {
    border-radius: 0 5px 0 0;
}

.down {
    border-radius: 0 0 5px 0;
}

#up-img, #down-img {
    width: 10px;
    height: 10px;
}


.other-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
}

#add-to-fav-btn, #share-btn, #report-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    gap: 10px;
    padding: 0 10px;
    border: 2px solid #6c6c6c;
    border-radius: 5px;
}

#add-to-fav-btn {
    width: 180px;
}

#share-btn, #report-btn {
    width: 90px;
}

#heart-img, #share-img, #report-img {
    width: 15px;
    height: 15px;
}

#add-to-fav-btn:hover, #share-btn:hover, #report-btn:hover {
    background: #bcbcbc;
}

.similar-bids {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#similar-bids-headline {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-top: 20px;
}

.similar-bids-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
    margin-top: 10px;
    overflow: auto hidden;
    white-space: nowrap;
}

#bid-btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    background: #042771;
    font-weight: 700;
}

#bid-btn:hover {
    background: #093ca9;
}

#bid-btn:active {
    background: #042771;
}

#bid-btn-disabled {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    background: #6c6c6c;
    font-weight: 700;
}

#bid-btn-disabled:hover {
    background: #a2a2a2;
}

#bid-btn-disabled:active {
    background: #6c6c6c;
}

.product-details-long-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 20px;
}

#long-description-header {
    font-size: 15px;
    font-weight: 700;
    color: #0D6EFD;
    margin-bottom: 10px;
}

#long-description-text {
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}

#product-owner {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #0D6EFD;
    margin-bottom: 5px;
}