@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-headline {
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px;
}

.signup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.signup-subheadline {
    font-size: 14px;
    font-weight: 400;
}

.input-field {
    width: 80%;
    height: 50px;
    border: 1.5px solid #7a7a7a;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 300;
}

.input-field:focus {
    outline: none;
    border: 1.5px solid #000A1F;
}

.checkboxs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

#checkbox-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.checkbox {
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
    border: 1.5px solid #7a7a7a;
    border-radius: 5px;
    margin-right: 10px;
}

.checkbox-text {
    font-size: 12px;
    font-weight: 400;
}

#signup-btn {
    width: 60%;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    background: #0380DA;
    background: linear-gradient(90deg, #6e057e 0%, #0380DA 100%);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.signup-link {
    text-decoration: underline;
    color: #206BFF;
    font-size: 14px;
    font-weight: 400;
}

#signup-btn:hover {
    background: #0380DA;
    background: linear-gradient(90deg, #912fa0 0%, #5db0ec 100%);
    color: #fff;
    text-decoration: none;
}

#signup-btn:active {
    background: #0380DA;
    background: linear-gradient(90deg, #6e057e 0%, #0380DA 100%);
    color: #fff;
    text-decoration: none;
}

.signup-small-text, #register-now-link {
    font-size: 12px;
    font-weight: 400;
}

.or-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

hr {
    width: 40%;
    height: 1px;
    background: #7a7a7a;
    border: none;
}

#or-text {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    color: #7a7a7a;
}

#google-btn {
    width: 60%;
    height: 50px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    background: #206BFF;
    border: 2px solid #206BFF;
}

#google-logo {
    width: 50px;
    height: 46px;
    padding: 12px;
    background: #fff;
    border-radius: 5px 0 0 5px;
}

#google-btn-text {
    width: 100%;
    height: 46px;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

#google-btn:hover {
    background: #508aff;
    border: 2px solid #508aff;
}

#google-btn:active {
    background: #206BFF;
    border: 2px solid #206BFF;
}